/* c_lk_inner_breadcrumbs */

.c_lk_inner_breadcrumbs {
    margin: 7px 0 12px;
    padding: 4px 7px 4px;
    border: 1px solid #B8B8B8;
}

.c_lk_inner_breadcrumbs .breadcrumbs a {
    color: #545454;
    white-space: nowrap;
}

.c_lk_inner_breadcrumbs .breadcrumbs .separator {
    display: inline-block;
    text-indent: -10em;
    margin: 0 2px;
    width: 9px;
    overflow: hidden;
    vertical-align: middle;
    background: url("./../../../../img/breadcrumbs_separator.png") 0 50% no-repeat;
}

.c_lk_inner_breadcrumbs .breadcrumbs .active {
    cursor: default;
    text-decoration: none;
}

.c_lk_inner_breadcrumbs .back {
    padding: 0 0 0 19px;
    background: url("./../../../../img/arrow-back.png") 0 50% no-repeat;
}
