/*c_blog_search*/

.c_blog_search {
    margin: 0 0 11px;
    padding: 7px 9px 9px;
    border: 1px solid #EAEAEA;
    background: #fafafa;
}

.c_blog_search form {
    position: relative;
    border: 1px solid #b8b8b8;
}


.c_blog_search .search_form {
    margin-right: 120px;
}

.c_blog_search .search_query {
    width: 100%;
    height: 13px;
    line-height: 13px;
    padding: 4px 4px 4px 5px;
    border: 0 none;
}

.c_blog_search .search_query::-webkit-input-placeholder {
    font-style: italic;
}
.c_blog_search .search_query:-moz-placeholder {
    font-style: italic;
}
.c_blog_search .search_query::-moz-placeholder {
    font-style: italic;
}
.c_blog_search .search_query:-ms-input-placeholder {
    font-style: italic;
}

.c_blog_search .search_submit {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 30px 2px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #E9DAA4 #F5DE8D #ECC431 #E9CD65;
    background: url("./../../../../img/button-bg.jpg") repeat-x scroll 0 0 #FFD32D;
}

.c_blog_search .search_reset {
    text-indent: -100em;
    width: 17px;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 3px;
    border: 0 none;
    background: url("./../../../../img/search_clear.png") 0 0 no-repeat;
}
