/* c_gallery_overlay */

.c_gallery_overlay {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    filter:alpha(opacity=50);
    opacity: 0.5;
}

/* END c_gallery_overlay */

/* c_photoGallery_small_slider */

.c_photoGallery_small_slider {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 170px;
    background-color: #3C3C3C;
}

.c_photoGallery_small_slider .slider-container {
    position: absolute;
    top: 47px;
    right: 0;
    bottom: 47px;
    left: 0;
}

.c_photoGallery_small_slider .viewport {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c_photoGallery_small_slider .overview {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.c_photoGallery_small_slider .overview li {
    margin-bottom: 4px;
}

.c_photoGallery_small_slider .overview img {
    display: block;
    max-width: 130px;
    margin: 0 auto;
    border: 3px solid transparent;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.c_photoGallery_small_slider a:hover img {
    border-color: #b3b3b3;
}

.c_photoGallery_small_slider .selected a img {
    border-color: #ffffff;
}

.c_photoGallery_small_slider .buttons {
    position: absolute;
    left: 50%;
    margin-left: -31px;
    width: 62px;
    height: 28px;
    background: url("../img/gallery-vert-arrows.png") 0 0 no-repeat;
}

.c_photoGallery_small_slider .prev.buttons {
    top: -35px;
}

.c_photoGallery_small_slider .next.buttons {
    bottom: -35px;
    background-position: 0 100%;
}

/* END c_photoGallery_small_slider */

/* c_photoGallery_large_slider */

.c_photoGallery_large_slider {
    z-index: 9999;
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -318px;
    width: 557px;
    padding: 26px 40px 0;
    background-color: #ffffff;
}

.c_photoGallery_large_slider .close-gallery-button {
    position: absolute;
    top: 0;
    right: -36px;
    width: 30px;
    height: 30px;
    background: url("../img/gallery-close.png") 0 0 no-repeat;
}

.c_photoGallery_large_slider .slider-container {
    position: relative;
    height: 481px;
    margin-bottom: 7px;
}

.c_photoGallery_large_slider .overview {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.c_photoGallery_large_slider li {
    float: left;
}

.c_photoGallery_large_slider .viewport {
    overflow: hidden;
    height: 100%;
}

.ie7 .c_photoGallery_large_slider .viewport {
    position: relative;
}

.c_photoGallery_large_slider .description-text {
    overflow: hidden;
    margin-bottom: 4px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #000000;
}

.c_photoGallery_large_slider .text-container {
    overflow: hidden;
}

.c_photoGallery_large_slider .bottom-info-block {
    padding-right: 157px;
}

.c_photoGallery_large_slider .right-part {
    float: right;
    width: 137px;
    margin-right: -157px;
}

.ie7 .c_photoGallery_large_slider .right-part {
    padding-left: 15px;
}

.c_photoGallery_large_slider .left-part {
    border-right: 1px dotted #000000;
}

.c_photoGallery_large_slider .left-part-inner {
    float: left;
    width: 100%;
}

.c_photoGallery_large_slider .buttons {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 29px;
    height: 62px;
    background: url("../img/gallery-hor-arrows.png") 0 0 no-repeat;
}

.c_photoGallery_large_slider .prev.buttons {
    left: -90px;
}

.c_photoGallery_large_slider .next.buttons {
    right: -35px;
    background-position: 100% 0;
}

/* END c_photoGallery_large_slider */



/*c_comments_block*/

.c_comments_block a {
    text-decoration: none;
}

.c_comments_block a:hover {
    text-decoration: underline;
}

.c_comments_block .list_item {
    position: relative;
    margin-bottom: 8px;
    padding: 8px 23px 0 60px;
    /*border-top: 1px dotted #3c3c3c;*/
}

.c_comments_block .list_item .name {
    margin-bottom: 4px;
}

.c_comments_block .list_item .post_info {
    margin-top: 5px;
    font-size: 11px;
    color: #5f5f5f;
}

.c_comments_block .list_item .post_info .date {
    color: #009acf;
}

.c_comments_block .list_item .post_info .separator {
    margin: 0 4px;
}

.c_comments_block .list_item:first-child {
    border-top: none;
}

.c_comments_block .list_item .remove {
    position: absolute;
    top: 27px;
    right: 5px;
    width: 13px;
    height: 14px;
    background: url("../img/icon-close.png") 0 0 no-repeat;
}

.c_comments_block .list_item .user_avatar {
    float: left;
    margin-left: -60px;
}

.c_comments_block .list_item .post_content p {
    margin: 5px 0;
}

.c_comments_block .list_item .post_content img {
    max-width: 100%;
}

.c_comments_block .list_item .post_comment {
    margin-top: 7px;
    margin-right: 3px;
    padding-left: 60px;
}

.c_comments_block .comment_form_wrapper {
    padding: 10px 6px 6px 9px;
    background-color: #f1f2f2;
}

.c_comments_block .comment_form_wrapper .save_button_wrapper {
    margin-top: 4px;
}

.c_comments_block .no_comments_text {
    margin-top: 9px;
}

/*END c_comments_block*/

/*c_popup_description*/

.c_popup_description {
    margin: 12px 0 5px;
}

.c_popup_description .stressed_block {
    margin-bottom: 8px;
    color: #009acf;
}

/*END c_popup_description*/
