/*c_header_section_title*/

.c_header_section_title {
    margin-bottom: 6px;
    padding: 6px 15px 6px 10px;
    border: 1px solid #eaeaea;
    font-size: 16px;
    font-weight: bold;
}

.c_header_section_title .link_right {
    float: right;
    margin-top: -3px;
}

/*END c_header_section_title*/

.content_container {
    padding: 8px 7px 7px 11px;
    border: 1px solid #eaeaea;
}

/*c_calculator_table*/

.c_calculator_table {
    width: 100%;
    display: table;
    behavior: url(resources/display-table.min.htc);
}

.c_calculator_table .row {
    display: table-row;
}

.c_calculator_table .cell {
    display: table-cell;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #009ad2;
    -dt-display: table-cell;
}

.c_calculator_table .table_header .cell {
    padding: 7px 0;
    background-color: #F9F9F9;
}

.c_calculator_table .colored.row .cell {
    background-color: #FCF5DB;
}

.c_calculator_table .row .name {
    padding-left: 12px;
    padding-right: 10px;
}

.c_calculator_table .price,
.c_calculator_table .quantity,
.c_calculator_table .total,
.c_calculator_table .options {
    text-align: center;
}

.c_calculator_table .price,
.c_calculator_table .quantity,
.c_calculator_table .total {
    width: 100px;
}

.c_calculator_table .options {
    width: 66px;
}

.c_calculator_table .row_title.name {
    padding-top: 12px;
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
}

.c_calculator_table .edit_option {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/icon-pen.png") center center no-repeat;
}

.c_calculator_table .delete_option {
    display: inline-block;
    width: 13px;
    height: 14px;
    margin-left: 7px;
    background: url("../img/icon-close.png") 0 0 no-repeat;
}

/*END c_calculator_table*/

/*END c_calc_input*/

.c_calc_input {
    width: 59px;
    padding: 3px 6px;
    border: 1px solid #DDDDDD;
    outline: none;
    text-align: center;
}

/*END c_calc_input*/

/*c_print_row*/

.c_print_row {
    padding: 10px 0;
    overflow: hidden;
}

.c_print_row .total_price {
    float: right;
    margin-right: 81px;
    color: #009ad2;
    font-size: 15px;
    font-weight: bold;
}

.c_print_row .print {
    display: inline-block;
    padding: 4px 6px 4px 27px;
    color: #000000;
    border: 1px solid #DDDDDD;
    text-decoration: none;
    background: url("../img/icon-print.png") 7px 3px no-repeat;
}

.c_print_row .print span {
    text-decoration: underline;
}

.c_print_row .print:hover span {
    text-decoration: none;
}

/*END c_print_row*/

/*calculator_header*/

.calculator_header {
    margin-bottom: 10px;
    padding-left: 4px;
    padding-bottom: 2px;
    color: #3c3c3c;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px dotted #000000;
}

.calculator_header .back {
    float: right;
    font-size: 12px;
    padding-left: 20px;
    background: url("../img/breadcrumbs-back.png") 0 60% no-repeat;
}

/*END calculator_header*/

/*c_divider_line*/

.c_divider_line {
    border-bottom: 1px dotted #000000;

}

/*END c_divider_line*/

.form_title {
    margin-bottom: 21px;
    padding-left: 18px;
    color: #009ad2;
    font-size: 15px;
    font-weight: bold;
}

/*form_line_calc_horiz*/

.c_form_line_calc_horiz {
    padding-left: 106px;
    margin-bottom: 11px;
    *zoom: 1;
}

.c_form_line_calc_horiz:before,
.c_form_line_calc_horiz:after {
    display: table;
    line-height: 0;
    content: "";
}

.c_form_line_calc_horiz:after {
    clear: both;
}

.c_form_line_calc_horiz .caption {
    float: left;
    width: 100px;
    margin-top: 3px;
    margin-left: -106px;
    text-align: right;
    font-weight: bold;
}

.c_form_line_calc_horiz .c_input.calc_form_input {
    width: 263px;
}


.c_form_line_calc_horiz select.styled {
    width: 276px;
    height: 21px;
    line-height: 21px;
    margin-bottom: 2px;
    border: 1px solid #d1d1d1;
}

.c_form_line_calc_horiz .c_button_settings.calc_form {
    padding-left: 28px;
    padding-right: 28px;
}

/*END form_line_calc_horiz*/



