/* c_people_list */

.c_people_list {
	margin: 0 -8px 0 0;
}

.c_people_list .person {
    float: left;
    margin: 0 8px 8px 0;
    padding: 8px;
    width: 330px; /* 346 */
    height: 100px;
    overflow: hidden;
    border: 1px solid #E8E8E8;
    background-color: #FAFAFA;
}

.c_people_list .first-line {
	max-height: 2.75em;
	overflow: hidden;
}

.c_people_list .gray-line {
	color: #727272;
	font-size: 11px;
	white-space: nowrap;
}

.c_people_list .dd {
	color: #2489bd;
}

.c_people_list .photo {
    float: left;
    margin: 0 9px 0 0;
}

.c_people_list .photo img {
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.c_people_list .name {
    /*display: inline-block;*/
    color: #009ACF;
    font-weight: bold;
    text-decoration: none;
    width: 190px;
    margin: 7px 0 0;
}

.c_people_list .status {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0 0;
    padding: 0 8px 1px;
    background-color: #009900;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.c_people_list .offline {
    color: #000;
    background-color: #f2f2f2;
}

.c_people_list .distance {
	color: #e03f2b;
	margin-right: 5px;
}

.c_people_list .actions {
	line-height: 20px;
	margin: 5px 0 0;
}

.c_people_list .actions a {
	color: #CB0000;
	white-space: nowrap;
	padding: 0 0 0 20px;
	background: none 0 50% no-repeat;
}

.c_people_list .actions .write {
	background-image: url("./../../../img/icon-write.png");
}

.c_people_list .actions .add {
	background-image: url("./../../../img/icon-friend-add.png");
}

.c_people_list .actions .delete {
	background-image: url("./../../../img/icon-friend-del.png");
}

.c_people_list .actions .fave-add {
	background-image: url("./../../../img/fave-add.png");
}

.c_people_list .actions .fave-del {
	background-image: url("./../../../img/fave-del.png");
}
